# REPORTE DE VALIDACIÓN — CAPA GOLD

## Dimensiones
- **DIM_TIEMPO**: `success` | 12 registros
- **DIM_TERRITORIO**: `success` | 1,155 registros

## Hechos
- **FACT_DEMOGRAFIA**: `success` | 1,089 registros
- **FACT_MICRONEGOCIOS**: `success` | 150 registros
- **FACT_CONTRATACION**: `success` | 9,711 registros
- **FACT_CENSO**: `success` | 1,122 registros

## Datamart
- Estado: `success` | 13,860 filas
- Ruta: `data\gold\marts\latest\mart_desarrollo_social_economico_municipio_anio.parquet`
