# Entorno virtual y secretos
.env
pipeline/.env

# Archivos fuente y crudos
datos/
modelo_estrella_duckdb/*.duckdb
modelo_estrella_duckdb/*.db
modelo_estrella_pyspark/
*.duckdb
*.parquet
*.db

# Artefactos y compilados
artifacts/
__pycache__/
*.pyc
*.egg-info/

# Spark / Java / Pipeline logs
*.log
logs/
out.log
derby.log
metastore_db/
spark-warehouse/

# IDE y herramientas
.qwen/
.vscode/
.idea/

.venv/
scratch/
